<div class="page-header">
  <h1>
    <%= image_tag "unnamed.png", size: "45" %>ubscribble
    <small>Save Time, Save Money, Save Hassle</small></h1>
</div>

<div class="centered">

<h1>New subscription</h1>

<%= render 'form' %>

<td><a href=<%= subscriptions_path %>><button class="btn btn-primary" id="destroy"><i class="glyphicon glyphicon-arrow-left"></i> Back</button></a></td>

</div>